{
  "env": {
    "main": {
      "presets": [
        ["env", {
          "targets": {"electron": "1.7.12"}
        }]
      ]
    },
    "renderer": {
      "presets": [
        ["env", {
          "targets": {"electron": "1.7.12"},
          "modules": false
        }],
        "react"
      ],
      "plugins": [
        "babel-plugin-transform-class-properties",
        "babel-plugin-transform-function-bind",
        "babel-plugin-transform-object-rest-spread",
        "react-hot-loader/babel"
      ],
    }
  }
}
