@import '~ress';
$fa-font-path: "~font-awesome/fonts";
@import '~font-awesome/scss/font-awesome';
@import 'variables';

html {
  font-size: (10px/ 16px * 100%);
}

body {
  color: $text-color;
  font-family: $gothic;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.45;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color:rgba(0,0,0,0);
  tap-highlight-color: rgba(0, 0, 0, 0);
  text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

a {
  &,
  &:visited {
    text-decoration: none;
    color: $text-color;
    outline: none;
  }

  &:focus {
    outline: none;
  }
}
