.wrapper {
  border-top: 1px solid #dadada;
  list-style: none;
  padding: 12px 14px;
  position: relative;

  &:first-child {
    border-top: 0;
  }
}

.content {
  padding-left: 62px;
  position: relative;
}

.textContainer {}

.tweetText {
  white-space: pre-wrap;
  word-break: break-all;
}

.replyText {
  color: #657786;
  display: inline-block;
  margin: 4px 0;
}

.link {
  color: #0070c9;

  &:hover {
    text-decoration: underline;
  }
}

.quoteTweetContainer {
  border: 1px solid rgba(0, 0, 0, .1);
  border-radius: 5px;
  margin-top: 10px;

  &:hover {
    border: 1px solid rgba(0, 0, 0, .2);
  }
}

.quoteTweetInner {
  padding: 10px 12px;
}

.quoteTweetLink {}

.quoteTweetAuthor {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap
}

.quoteTweetUserName {}

.quoteTweetScreenName {
  color: #999;
  margin-left: 1px
}

.quoteTweetText {
  margin-top: 4px;
}
