.container {}

.actions {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.actionsLeft {
  display: flex;
}

.actionsRight {

}

.actionItem {
  align-items: center;
  color: #999;
  display: flex;
  outline: none;

  & + .actionItem {
    margin-left: 20px;
  }

  &--retweeted {
    color: #30a564;
  }

  &--favorited {
    color: #ce2070;
  }

  &--saved {
    color: #c74d45;
  }
}

.actionCount {
  font-size: 1.3rem;
  font-weight: 500;
  margin-left: 5px;
}
