.wrapper {
  border-top: 1px solid #dadada;
  list-style: none;
  padding: 12px 14px;
  position: relative;

  &:first-child {
    border-top: 0;
  }
}

.content {
  padding-left: 62px;
  position: relative;
}

.textContainer {}

.tweetText {
  word-break: break-all;

  :global(.emoji) {
    height: 1em;
    margin: 0 .05em 0 .1em;
    vertical-align: -0.1em;
    width: 1em;
  }
}

.replyText {
  color: #657786;
  display: inline-block;
  margin: 4px 0;
}

.link {
  color: #0070c9;

  &:hover {
    text-decoration: underline;
  }
}

.mediaContainer {
  border: 1px solid rgba(0, 0, 0, .1);
  border-radius: 5px;
  margin-top: 10px;
  overflow: hidden;
}

.imageContainer {
  display: flex;

  &--single {
    .imageContents {
      width: 100%;

      img {
        width: 100%;
      }
    }
  }

  &--double {
    //height: 253px;
    //width: 506px;

    .imageContents:first-child {
      width: 50%;
    }

    .imageContents:last-child {
      width: 50%;

      .imageItem {
        height: 100%;
      }
    }
  }

  &--triple {
    //height: 337.3333333333333px;
    //width: 506px;

    .imageContents:first-child {
      width: (2 / 3 * 100%);
    }

    .imageContents:last-child {
      width: calc(100% / 3);

      .imageItem {
        height: calc((100% - 2px) / 2);
      }
    }

  }

  &--quad {
    //height: 379.5px;
    //width: 506px;

    .imageContents:first-child {
      width: (3 / 4 * 100%);
    }

    .imageContents:last-child {
      width: calc(100% / 4);

      .imageItem {
        height: calc((100% - 2px) / 3);
      }
    }
  }
}

.imageContents {}

.multipleImages {
  .imageContents:first-child {
    margin-right: 1px;

    .imageItem {
      height: 100%;
    }
  }

  .imageContents:last-child {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .imageItem {
    img {
      height: 100%;
      object-fit: cover;
      width: 100%;
    }
  }
}

.imageItem {}

.videoContainer {}
