.wrapper {
  list-style: none;
  padding-left: 58px;
  position: relative;
}

.content {}

.header {}

.retweetText {
  color: #999;
  font-size: 1.2rem;
  margin-bottom: 5px;
}

.profile {
  &--userIcon {
    border-radius: 100%;
    left: 0;
    position: absolute;
  }

  &--userName {}

  &--screenName {}
}

.time {}

.textContainer {}

.tweetText {}

.mediaContainer {}

.footer {}

.actions {}

.actionItem {
  display: inline-block;

  &--retweet {}

  &--favorite {}
}
